.authoriz__sign-in {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.message {
  position: absolute;
  bottom: -20px;
  color: red;
  font-size: 12px;
}

.error {
  position: absolute;
  bottom: 18px;
}

.success {
  color: green;
  font-size: 20px;
}
