.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
  margin-bottom: 30px;
}

.header__logo {
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 5px;
}

.header__logo:hover {
  background-color: #ddd;
}

.header__search,
.my-favorites {
  padding: 5px;
  border: 1px solid #000;
}

.header__search:hover,
.my-favorites:hover {
  background-color: #aaa;
}
